<html>
<head>
    <title>Buy</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div class="item">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.get_price }} USD</p>
</div>
<button id="checkout-button">Buy</button>
<script type="text/javascript">
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("{% url 'buy' item.id %}", {
            method: "GET"
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({sessionId: session.id});
            })
    })



</script>

</body>
</html>